:root {
  --main-color: radial-gradient(
    circle,
    rgba(44, 62, 80, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
/* root css */
body {
  background: var(--main-color);
}
* {
  color: whitesmoke;
}
/* searchBar components */
.formInputField {
  background-color: darkgray !important;
  border: none !important;
}
.formInputField::placeholder {
  color: white !important;
}

.cardDescription {
  height: 6em;
  overflow-y: scroll;
}
.cardDescription::-webkit-scrollbar {
  background: #000;
}
.cardBody {
  background: rgb(0, 0, 0);
  color: whitesmoke !important;
}

.cardStyle {
  width: 18rem;
  height: 100%;
  border-radius: 8px;
  padding: 10px;
  background: radial-gradient(rgba(44, 62, 80, 1) 0%, rgba(0, 0, 0, 1) 100%);
  color: crimson;
}
.mainCard {
  background: var(--main-color);
  margin-left: 30px;
}
.mainCardRow {
  overflow-x: scroll;
}
.mainCardRow::-webkit-scrollbar {
  background: none;
  margin: auto;
}

.spinner {
  height: 36px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
